<h1><%= @article.title%></h1>
<p><%= @article.content %></p>
<%= link_to "Edit", edit_article_path(@article) %> -
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%>
<%= link_to "Back to the list of articles", articles_path %>
<%= link_to "Create new article", new_article_path  %>
